<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frameworks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">Frameworks</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard" style="color: blue;">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="/frameworks">Frameworks</a></li> -->
            <!-- <li class="breadcrumb-item"><a href="/favorites">Sell</a></li> -->
            <li class="breadcrumb-item"><a href="/login">Log-out</a></li>
        </ol>
    </nav>
    <form action="/frameworks/users" method="GET">
        <button>
        user template</button>
    </form>
    <form action="/frameworks/models" method="GET">
        <button>
        model template</button>
    </form>
    <form action="/frameworks/login" method="GET">
        <button>
        login template</button>
    </form>
    <form action="/frameworks/controller" method="GET">
        <button>
        controller template</button>
    </form>
    <form action="/frameworks/conn" method="GET">
        <button>
        conn.js Template</button>
    </form>
    <div data-users>
        ${code}
    </div>
</body>
</html>