<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frameworks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<body>
    <h1 style="text-align: center;">Frameworks</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:black;">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/frameworks" style="color: red;">Frameworks</a></li>
            <li class="breadcrumb-item"><a href="/json_packages">JSON Packages</a></li>
            <li class="breadcrumb-item"><a href="/login">Log-out</a></li>
        </ol>
    </nav>

    <!-- Button trigger modal -->
    <div style="display:flex; justify-content: center;">
        <button type="button" class="btn btn-primary" data-toggle="modal"   data-target="#exampleModalLong">
                Click here after choosing a template!
        </button>
    </div>

    <div style="display: flex; justify-content:center; margin-top: 25px;">
        <div style="display: inline-block; margin-right: 25px">
            <form action="/frameworks/users" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                user Template</button>
            </form>
        </div>
            
        <div style="display: inline-block;">
            <form action="/frameworks/models" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                model Template</button>
            </form>
        </div>
    </div>

    <div style="display: flex; justify-content:center; margin-top: 25px;">
        <div style="display: inline-block; margin-right: 25px">
            <form action="/frameworks/login" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                login Template</button>
            </form>
        </div>
        <div style="display: inline-block;">
            <form action="/frameworks/controller" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                controller Template</button>
            </form>
        </div>
    </div>

    <div style="display: flex; justify-content:center; margin-top: 25px;">
        <div style="display: inline-block; margin-right: 25px">
            <form action="/frameworks/conn" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                conn.js Template</button>
            </form>
        </div>
    
        <div style="display: inline-block;">
            <form action="/frameworks/env" method="GET">
                <button style="
                border-radius: 15px; 
                background-color: black; 
                color: white; 
                height:100px;
                width: 400px;
                ">
                dotenv Template</button>
            </form>
        </div>
    </div>


    <div style="display: flex; justify-content: center; margin-top:25px">
        <form action="/frameworks/gitignore" method="GET">
            <button style="
            border-radius: 15px; 
            background-color: black; 
            color: white; 
            height:100px;
            width: 400px;
            ">
            gitignore Template</button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Template Format</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ${code}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/  popper.min.js"    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNz0W1  " crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>