<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frameworks</title>
</head>
<body>
    <h1>Frameworks</h1>
    <form action="/frameworks/users" method="GET">
        <button>
        user Template</button>
    </form>
    <form action="/frameworks/models" method="GET">
        <button>
        model Template</button>
    </form>
    <form action="/frameworks/login" method="GET">
        <button>
        login Template</button>
    </form>
    <form action="/frameworks/controller" method="GET">
        <button>
        controller Template</button>
    </form>
    <form action="/frameworks/conn" method="GET">
        <button>
        conn.js Template</button>
    </form>
    <form action="/frameworks/env" method="GET">
        <button>
        dotenv Template</button>
    </form>
    <form action="/frameworks/gitignore" method="GET">
        <button>
        gitignore Template</button>
    </form>
    <div data-users>
        ${code}
    </div>
</body>
</html>