<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevDepot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <h1 style="text-align: center;">DevDepot</h1>
    <div>
        <form action="/login" style="text-align: center;">
            <button>Login</button>
        </form>
        <form action="/registration" style="text-align: center;">
            <button>Registration</button>
        </form>
    </div>
    <div>


    <div class="jumbotron">
        
        <p>Reviews left by our users!</p>
            <h1 class="display-50">${review1}</h1>

            <h1 class="display-50">${review2}</h1>

            <h1 class="display-50">${review3}</h1>

            <h1 class="display-50">${review4}</h1>
            
        </div>
</body>
</html>