<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevDepot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
            
        }
        .jumbotron {
            width: 50%;
            margin-left: 25%;
            border-radius: 15px;
        }
    </style>
</head>
<body>
        <h1 style="text-align: center; color: white; font-style: italic;">DevDepot</h1>
        <h3 style="text-align: center; color: white; font-style: italic;">
            The source for all your framework needs!
        </h3>

    <div style="display: flex; justify-content:center;">
        <div style="display: inline-block; margin-right: 5px">
            <form action="/login" style="text-align: center;">
                <button style="border-radius: 15px; background-color: black; color: white;">Login</button>
            </form>
        </div>
        <div style="display: inline-block;">
            <form action="/registration" style="text-align: center;">
                <button style="border-radius: 15px; background-color: black; color: white;">Registration</button>
            </form>
        </div>
    </div>



    <div style="text-align: center; color: white; border-color:white; margin-top: 10px; margin-bottom: 10px; font-style: oblique;">
        <a>Reviews left by our users!</a>
    </div>

    <div class="jumbotron">
        <h5 class="display-15" style="font-style: bold;">${reviewTopic1}</h5>
        <h1 class="display-50" style="font-style: italic;">${reviewContent1}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15" style="font-style: bold;">${reviewTopic2}</h5>
        <h1 class="display-50" style="font-style: italic;">${reviewContent2}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15" style="font-style: bold;">${reviewTopic3}</h5>
        <h1 class="display-50" style="font-style: italic;">${reviewContent3}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15" style="font-style: bold;">${reviewTopic4}</h5>
        <h1 class="display-50" style="font-style: italic;">${reviewContent4}</h1>
    </div>

</body>
</html>