<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevDepot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
            
        }
        .container {

        }
    </style>
</head>
<body>
        <h1 style="text-align: center; color: white;">DevDepot</h1>
    <div class="container">
        <form action="/login" style="text-align: center;">
            <button style="border-radius: 15px;">Login</button>
        </form>
        <form action="/registration" style="text-align: center;">
            <button style="border-radius: 15px;"">Registration</button>
        </form>
    </div>
    <div>


    <div class="jumbotron">
        <h5>Reviews left by our users!</h5>
    </div>

    <div class="jumbotron">
        <h5 class="display-15">${reviewTopic1}</h5>
        <h1 class="display-50">${reviewContent1}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15">${reviewTopic2}</h5>
        <h1 class="display-50">${reviewContent2}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15">${reviewTopic3}</h5>
        <h1 class="display-50">${reviewContent3}</h1>
    </div>

    <div class="jumbotron">
        <h5 class="display-15">${reviewTopic4}</h5>
        <h1 class="display-50">${reviewContent4}</h1>
    </div>

</body>
</html>