<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Packages</title>
</head>
<body>
    <h1>Hello</h1>
    <div>
        <form action="/json_packages/tdd" method="GET">
            <button>
                ${name}
            </button>
        </form>
    </div>
    <div>
        <form action="/json_packages/nodemon" method="GET">
            <button>
                    ${name2}
                </button>
        </form>
    </div>
    <div>
        ${name}
    </div>
    <div>
            ${terminal}
    </div>
    <div>
            ${scripts}
    </div>
</body>
</html>