<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Packages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <h1 style="text-align: center;">JSON Packages</h1>
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a href="/frameworks">Frameworks</a></li>
                <li class="breadcrumb-item"><a href="/json_packages" style="color: red;">JSON Packages</a></li>
                <li class="breadcrumb-item"><a href="/login">Log-out</a></li>
            </ol>
        </nav>
    <div>
        <form action="/json_packages/tdd" method="GET">
            <button>
                Test Driven Development
            </button>
        </form>
    </div>
    <div>
        <form action="/json_packages/nodemon" method="GET">
            <button>
                    Nodemon Developing 
                </button>
        </form>
    </div>
    <div>
        <p>Package(s) Names</p>
        ${name}
    </div>
    <div>
        <p>Terminal Commands</p>
            ${terminal}
    </div>
    <div>
        <p>Optional Scripts</p>
            ${scripts}
    </div>
</body>
</html>