<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevDepot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>
    <form 
    action="/registration"
    method="POST"
        >
        <div>
            <h1 style="text-align: center; color: white;">Registration</h1>
        </div>
        <div class="form-group" style="margin-left: 25%; margin-right: 25%;">
            <label for="Username" style="color: white;">Username</label>
            <input name="username" type="text" class="form-control" id="Username" placeholder="Username" required>
        </div>
        <div class="form-group" style="margin-left: 25%; margin-right: 25%;">
            <label for="First Name" style="color: white;">First Name</label>
            <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required>
        </div>
        <div class="form_group" style="margin-left: 25%; margin-right: 25%;">
            <label for="Last Name" style="color: white;">Last Name</label>
            <input name="lastName" type="text" class="form-control" id="lastName" placeholder=" Last Name" required>
        </div>
        <div class="form-group" style="margin-left: 25%; margin-right: 25%;">
            <label for="Email" style="color: white;">Email</label>
            <input type="email" name="email" id="Email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group" style="margin-left: 25%; margin-right: 25%;">
            <label for="Password" style="color: white;">Password</label>
            <input name="password" type="password" class="form-control" id="password" type="text" placeholder="Password" required>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn-primary" style="background-color: black;">Register</button>
        </div>
    </form>
</body>
</html>